{% extends 'base.html' %}
{% load static %}

{% block title %}My Profile{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/pages/profile.css" />
{% endblock %}

{% block extra_js %}
  <script src="{{ STATIC_PREFIX }}js/pages/profile.js"></script>
{% endblock %}

{% block page_header %}
  <div class="page-header">
    <button type="button" class="nav-icon-btn" data-menu-toggle aria-controls="site-drawer" aria-expanded="false">
      <img class="nav-icon" src="{% static 'img/menu.svg' %}" width="24" height="24" alt="" aria-hidden="true" />
      <span class="sr-only">Open menu</span>
    </button>
    <div class="page-header-content">
      <h1>My Profile</h1>
      <p class="page-tagline">Account and following overview</p>
    </div>
    <span class="page-header-spacer" aria-hidden="true"></span>
  </div>
{% endblock %}

{% block content %}
  {% include 'accounts/_profile_content.html' %}
{% endblock %}
